body {
  margin: 0;
  font-family: "Montesserat", sans-serif;
  background-color: #f7f7f7;
}

.container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-top: 50px;
  /*Note that stylings take precedence the further down they are
    i.e, if `margin: 0` was placed BELOW `margin-top: 50px`, margin top value would be 0px */
  text-align: center;
  max-width: 600px;
  border-radius: 5px;
  padding: 20px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

form input[type="text"] {
  padding: 10px;
  border: none;
  outline: none;
  font-size: 18px;
  width: 60%;
}

form input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

/*Targeting effects*/
form input[type="submit"]:hover {
  background-color: #0062cc;
}

.icon img {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.temperature {
  font-size: 48px;
  font-weight: bold;
  margin: 20px 0px;
}

.description {
  font-size: 24px;
  margin-bottom: 20px;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wra: wrap means details remain visible as you shrink the tab.*/
  flex-wrap: wrap;
}

.details > div {
  padding: 20px;
  background-color: #f1f1f1;
  margin: 10px;
  /* flex: 1 made it so that the detail (e.g. 40%, 5 m/s) is below the label (Feels like, Humidity). Not sure how tho*/
  flex: 1;
  border-radius: 5px;
  text-align: center;
  min-height: 45px;
}

/* Media query for placing input elements (search bar and button) on top of one another for mobile screens */
/* "Where the screen width is 768px or less, do this?" */
@media (max-width: 768px) {
  form {
    flex-direction: column;
  }

  form input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
  }
}
